*{
	padding: 0;
	margin: 0;
	border: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	font-weight: 400;
	font-size: 32px;
	line-height: 38px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;color: #fff;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;}

[class*="__container"] {
	max-width: 1150px;
	margin: 0 auto;
	padding: 0 20px;
}
.menu__body._active {
	right: 0;
}
.menu__icon._active {
	transform: rotate(-45deg);
}
.menu__icon._active span {
	transform: scale(0) translate(0px, -50%);
}
.menu__icon._active::before {
	top: 50%;
	transform:  translate(0px, -50%) rotate(-45deg);
}
.menu__icon._active::after {
	bottom: 50%;
	transform: translate(0px, 50%) rotate(45deg);
}
body._lock {
	overflow: hidden;
}
.wrapper {
	display: flex;
	overflow: hidden;
	min-height: 100%;
	flex-direction: column;
}
.title {
	font-weight: 500;
	font-size: 64px;
	line-height: 75px;
	text-align: center;
	color: #007765;
	margin-bottom: 16px;
}

/* --------------------- header ---------------------- */

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background-color: #007765;
}
.header__container {
	display: flex;
	justify-content: space-between;
	min-height: 84px;
	align-items: center;
}
@media (min-width: 769px) {
	.menu__list {
		display: flex;
		gap: 18px;
	}
	.menu__link {
		font-weight: 500;
		font-size: 24px;
		line-height: 28px;
	}
}
.menu__icon {
	display: none;
}

@media (max-width: 768px) {
	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 21px;
		cursor: pointer;
	}
	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		position: absolute;
		left: -10px;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #fff;
	}
	.menu__icon::before,
	.menu__icon::after {
		content: '';
	}
	.menu__icon::before {
		top: 0;
	}
	.menu__icon::after {
		bottom: 0;
	}
	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0, -50%);
	}
	.menu__body {
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		background-color: #007765;
		padding: 140px 30px 30px 30px;
		transition: right 0.3s ease 0s;
	}
	.menu__item {
		margin-bottom: 40px;
		display: block;
		font-size: 42px;
		line-height: 46px;
	}
}
@media (max-width: 480px) {
	.header__logo {
		z-index: 10;
		max-width: 45px;
		overflow: hidden;
		margin: 0 0 0 10px;
	}
}
/* --------------------- main ------------------------ */

.main {
	flex: 1 1 auto;
}

/* --------------------- jumbotron ------------------- */

.jumbotron {
	position: relative;
	margin-top: 84px;
}
.jumbotron__background {
	background: url(../img/jumbotron.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 403px;
	width: 100%;
}
.jumbotron__text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 500;
	font-size: 72px;
	line-height: 84px;
	text-align: center;
	color: #FFFFFF;
}

/* --------------------- the problem ----------------- */

.the-problem {
	padding: 48px 0 92px 0;
	background-color: #EEEEEE;
}
.the-problem__title {
}
.the-problem__text p {
	margin-bottom: 45px;
}
.the-problem__text p:last-child {
	margin-bottom: 0;
}

/* --------------------- hero ------------------------ */

.hero {
	position: relative;
}
.hero__background {
	background: url(../img/hero.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 483px;
	width: 100%;
}
.hero__text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-weight: 500;
	font-size: 48px;
	line-height: 56px;
	text-align: center;
	color: #FFFFFF;
}

/* --------------------- ppc ------------------------- */

.ppc {
	padding: 48px 0 92px 0;
}
.ppc__text-image {
	margin-bottom: 40px;
}
.ppc__text-image img {
	width: 115px;
	height: 115px;
	float: left;
	margin-right: 48px;
}
.ppc__text p {
	margin-bottom: 40px;
}
.ppc__text p:last-child{
	margin-bottom: 0;
}

/* --------------------- the team -------------------- */

.the-team {
	padding: 48px 0 34px 0;
	background-color: #EEEEEE;
}
.the-team__row {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}
.the-team__title {
	margin-bottom: 32px;
}
.the-team__item {
	flex: 0 1 33.333%;
	margin-bottom: 58px;
}
.item__img {
	border-radius: 50%;
}
.item__name {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #007765;
}
.item__job {
	font-style: italic;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

/* --------------------- footer ---------------------- */

.footer {
	background-color: #333333;
}
.footer__container {
	max-width: 540px;
}
.footer__text {
	margin: 48px 0 64px 0;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
}